<div class="container-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="text-1">
          <div class="link">
            <li class="list-unstyled">
              <a routerLink="/" routerLinkActive="active">Предыдущая страница</a>
            </li>
          </div>
          <div class="link-2">
            <li class="list-unstyled">
              <a routerLink="/third" routerLinkActive="active">Следующая страница</a>
            </li>
          </div>
          Trends & Insights
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-2">
          <b>6 ways for financial & legal marketers to differentiate their firm trough video</b>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-3">
          <b>Erik Mathes</b>
          <div class="oct">Oct 15. 2019</div>
        </div>
      </div>
      <div class="col-md-8 justify-content-center">
        <div>
          <img src="https://via.placeholder.com/700x400?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
