.container {
  max-width: 1024px;
  margin-bottom: 80px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 3px;
  margin: 0 40px 35px 0;
}

.image-2 {
  width: 340px;
  height: 440px;
  border-radius: 5px;
}

.text-1 {
  color: #007bff;
  font-size: .8em;
  margin-bottom: 15px;
}

.text-2 {
  margin-bottom: 15px;
}

.text-3 {
  text-decoration: underline;
  font-size: .8em;
}

.text-3:hover {
  color: blue;
}


@media only screen and (max-width: 400px) {
  .container {
    margin-bottom: 20px;
  }

  .image-2 {
    width: 240px;
    height: 340px;
    margin: 30px 0 20px 60px;
  }
}
