<div class="container-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-6">
          <div class="title">
            <h4>
              2. Recruit new talent to your team
            </h4>
          </div>
          <div class="text-1">
            Finance and law ﬁrm marketing goes beyond attracting and nurturing clients, as your videos
            can also be used to recruit new employees. Never before have people had so much leverage
            over potential employers, but savvy firms can bolster their recruitment efforts with videos
            that show prospective hires what they could gain if they join the team.
          </div>
          <div class="text-2">
            <b>
              “ Winston & Strawn LLP created the clip below to showcase their District Attorney
              Secondment Program, which is targeted to mid-level associates with a passion for
              trial work. Not only do viewers learn how this program can accelerate their law
              careers, they also get to hear firsthand from attorneys who completed the program
              about the positive impact it had on their development. “
            </b>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="https://via.placeholder.com/500x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
