<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="home">
        <hr>
        <div class="link">
          <li class="list-unstyled">
            <a routerLink="/second" routerLinkActive="active">Предыдующая страница</a>
          </li>
        </div>
        <div class="item-home">Home</div>
        <div class="slash">/</div>
        <div class="item-editor">Editor</div>
      </div>
    </div>
    <div class="col-6">
      <hr>
      <div class="all">
        <span class="all">All</span>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <span class="all">Editor</span>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <span class="all">Design</span>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <span class="all">Social</span>
      </div>
    </div>
  </div>
</div>
