<div class="container-16">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-10">
          <div class="title">
            <h4>
              6. Highlight your firm’s accolades and stats
            </h4>
          </div>
          <div class="text-1">
            <p>
              Content marketing for law firms and financial institutions can also play off real-world events
              you throw. Shearman St Sterling created this short promotional video in the Wibbitz platform
              that announced and shared details about the 2nd Annual Women General Counsel Forum
              they hosted in 2019.
            </p>
            <p>
              Videos like this exemplify how content marketing for law firms and financial institutions is
              taking shape for the 2020s. And with the right tools at your disposal, your ﬁrm can lighten the
              bandwidth of your marketing team — and transform its content strategy for the future.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="https://via.placeholder.com/500x300?text=Visit" class="image">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-10">
          <div class="text-2">
            <p>
              Videos like this exemplify how content marketing for law firms and financial institutions is
              taking shape for the 2020s. And with the right tools at your disposal, your firm can lighten the
              bandwidth of your marketing team — and transform its content strategy for the future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
