<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <div class="head-1">
          <span>
            <img src="https://via.placeholder.com/30x20?text=Visit" class="wibbitz">
          </span>
          <b>wibbitz</b>
        </div>
      </div>
      <div class="col-6">
        <div class="head-2">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Costumer Stories</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto justify-content-end text-right d-flex">
        <div class="head-3 d-flex text-left">
          <span class="material-icons">
            search
           </span>
        </div>
        <div class="head-4 text-right">
          <span class="enter">
            Enter work email
          </span>
          <button type="button" class="btn head-btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
