<div class="container-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-4">
          <p>
            <b>1. Humanize your firm by showing causes you support</b>
          </p>
          <div class="text">
            <p>
              These days, it’s important for companies to appear more human, and one of the best ways to
              do so is to show what causes your firm supports. By telling stories about individuals within
              your firm and letting them speak to their beliefs, you’ll endear the company to like-minded
              people who may choose your firm to do business with, simply based on having a connection
              to the same cause.
            </p>
            <p>
              BNP Paribas does a great job of marketing finance without being salesy by highlighting their
              work in supporting microfinance institutions in the video below. By showing how the ﬁrm
              helps vulnerable people and communities across the world with strategic lending for
              humanitarian projects, the firm’s financial education content distinguishes itself from
              competitors that fail to focus on these issues.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="https://via.placeholder.com/500x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>

