<div class="container-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-1">
          <div class="icon">
            <div class="icon-1">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </div>
            <div class="icon-1">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </div>
            <div class="icon-1">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="icon-1">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
          </div>
          <p>You job is marketing finance or law, you may feel like you`ve got it
            tougher than marketers in other industries. With these sectors so heavily
          </p>
          <p>
            regulated, and with so many established, big-time firms within both fields, some
            strategies are more efficient and effective than others when creating legal and financial
            education content.
          </p>
          <p>
            While some financial and law firm marketing teams are still slogging away at blogging and
            wasting their budgets on paid ads that people rarely click, savvy firms are shifting their focus
            to the medium of the future: Video. With advancements in tech, the price of producing
            professional-quality videos has dropped significantly. More importantly, it’s never been
            simpler for teams marketing finance or law to create video clips in-house.
          </p>
          <p>
            Still, there needs to be a sound set of strategies behind content marketing for law firms and
            financial institutions that goes deeper than discussing your services or products. For
            maximum efficacy, firms should create videos that differentiate it by featuring the people and
            philosophies behind the practice.
          </p>
          <p>
            Here are six ways to start using video to do just that, without breaking the bank or taking up
            more of your team’s bandwidth.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

