<div class="container-13">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-7">
          <div class="title">
            <h4>
              3. Provide valuable information to earn viewers’ trust
            </h4>
          </div>
          <div class="text-1">
            <p>
              Video content marketing for law firms and financial institutions is also a powerful medium for
              building trust with your audience. By providing value to viewers - and not expecting or asking
              for anything in return - you’ll create goodwill with people who will remember your ﬁrm when
              they could actually use its products or services.
            </p>
            <p>
              GO Banking Rates created the following video as part of a financial education content
              campaign that teaches people how to ﬁnd no-fee ATMs — and that some banks will reimburse
              these fees.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="https://via.placeholder.com/500x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
