<div class="container-9">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="cont-3">
          <div class="image">
            <img src="https://via.placeholder.com/250x360?text=Visit" class="image">
          </div>
          <div class="text-1">
            <b>
              Ready to continue your video marketing journey?
            </b>
          </div>
          <div class="text-2">
            Explore our latest report for all the best practices & insights you`ll
            need to easily navigate the video marketing landscape
          </div>
          <div class="cont-btn">
            <button class="btn bt">
              Explore Report
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
