<div class="container-15">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="cont-9">
          <div class="title">
            <h4>
              5. Announce and promote events your firm is hosting
            </h4>
          </div>
          <div class="text-1">
            <p>
              Content marketing for law firms and financial institutions can also play off real-world events
              you throw. Shearman & Sterling created this short promotional video in the Wibbitz platform
              that announced and shared details about the 2nd Annual Women General Counsel Forum
              they hosted in 2019.
            </p>
            <p>
              Not only is this incredibly simple law ﬁrm marketing to plan and execute, it also offers insight
              into the company’s values, philosophy, and mindset for potential new hires.
            </p>
            <p>
              Plus, you can create recap videos of your event that attendees can share to show credibility —
              and entice those who missed out to attend the next one.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="https://via.placeholder.com/500x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
