<div class="container-6">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <div class="cont-6">
          <div class="cont-6-1">
            Ready to take a test drive
          </div>
          <div class="cont-6-2">
            We`ll help you video content strategy.
            Prices starting from $49 a month.
            <span class="see">
              See pricing
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont">
          <div class="cont-6-0">
          <span class="enter">
            @ Enter work email
          </span>
            <button type="button" class="btn cont-btn">Try it Free</button>
          </div>
          <div class="cont-6-0-1 text-center">
            <span class="material-icons icon-1">spa</span>
            <span class="material-icons icon-1">
              waves
            </span>
            <span class="material-icons icon-1">
              class
            </span>
            <span class="material-icons icon-1">
              dns
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
